@import url("http://fonts.cdnfonts.com/css/digital-7-mono");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App {
    font-family: monospace;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00aaff, #00ff6c);
    .calculator {
        border: 5px solid rgba(255, 255, 255, 0.75);
        width: 333px;

        .displayScreen {
            min-height: 35px;
            font-size: 29px;
            font-family: "Digital-7 Mono", monospace;
            color: white;
            text-align: right;
            line-height: 35px;
            padding: 0px 5px;
            background-color: rgba(0, 0, 0, 0.75);
        }
        .formulaScreen {
            min-height: 20px;
            font-family: "Digital-7 Mono", monospace;
            font-size: 20px;
            color: orange;
            text-align: right;
            vertical-align: text-top;
            line-height: 20px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            padding: 0px 5px;
            background-color: rgba(0, 0, 0, 0.75);
        }
        .keypad {
            display: grid;
            grid-template-columns: repeat(4, 80px);
            grid-template-rows: repeat(5, 65px);
            grid-template-areas:
                "clear clear divide multiply"
                "seven eight nine subtract"
                "four five six add"
                "one two three equals"
                "zero zero decimal equals";
            gap: 1px;
        }
        button {
            position: relative;
            outline: 1px solid rgba(255, 255, 255, 0.75);
            border: none;
            color: white;
            font-family: monospace;
            font-size: 20px;

            cursor: default;
            &:hover {
                color: black;
                outline: 1px solid grey;
                z-index: 99;
            }
        }
        .num {
            background-color: #4d4d4d;
        }
        .oper {
            background-color: orange;
        }
        .equal {
            background-color: #2b9ad1;
        }
        .clear {
            background-color: #e04242;
        }
    }
}
